.product-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word; /* Garante que palavras longas sejam quebradas */
  overflow: hidden;
}

.product-card h3 {
  margin-bottom: 10px;
  color: #007bff;
  font-size: 1.2rem;
  text-align: center;
}

.product-card p {
  margin: 5px 0;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsivo */
  gap: 20px;
  padding: 10px;
}

.product-description {
  white-space: normal;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}
