.btn-button-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}
